In [2]:
print("hi")

hi

In [3]:
import pandas as pd
data_path = "../data/penguins.csv"
df = pd.read_csv(data_path)
df.head()

   CulmenLength  CulmenDepth  FlipperLength  BodyMass  Species
0          39.1         18.7          181.0    3750.0        0
1          39.5         17.4          186.0    3800.0        0
2          40.3         18.0          195.0    3250.0        0
3           NaN          NaN            NaN       NaN        0
4          36.7         19.3          193.0    3450.0        0

In [4]:
df.isna().sum()

CulmenLength     2
CulmenDepth      2
FlipperLength    2
BodyMass         2
Species          0
dtype: int64

In [5]:
df = df.dropna()

In [6]:
df.head()

   CulmenLength  CulmenDepth  FlipperLength  BodyMass  Species
0          39.1         18.7          181.0    3750.0        0
1          39.5         17.4          186.0    3800.0        0
2          40.3         18.0          195.0    3250.0        0
4          36.7         19.3          193.0    3450.0        0
5          39.3         20.6          190.0    3650.0        0

In [7]:
len(df)

342

In [8]:
# train a linear regression model. score it. then save the model

# implement data normalisation

df['FlipperLength'] = df['FlipperLength'] / 10
df['BodyMass'] = df['BodyMass'] / 100
print(df.head())

   CulmenLength  CulmenDepth  FlipperLength  BodyMass  Species
0          39.1         18.7           18.1      37.5        0
1          39.5         17.4           18.6      38.0        0
2          40.3         18.0           19.5      32.5        0
4          36.7         19.3           19.3      34.5        0
5          39.3         20.6           19.0      36.5        0

In [9]:
from sklearn.model_selection import train_test_split

X, y = df[df.columns[:-1]].values, df['Species'].values
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=0)
print(X_train[0], X_train.shape)
print(y_train[0], y_train.shape)

[36.4  17.   19.5  33.25] (239, 4)
0 (239,)

In [10]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, r2_score, recall_score, classification_report

model = RandomForestClassifier().fit(X_train, y_train)

# predictions
y_pred = model.predict(X_test)
# metrics
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00        50
           1       1.00      1.00      1.00        35
           2       1.00      1.00      1.00        18

    accuracy                           1.00       103
   macro avg       1.00      1.00      1.00       103
weighted avg       1.00      1.00      1.00       103

In [11]:
# accuracy score
accuracy = accuracy_score(y_test, y_pred)
print(accuracy)

1.0

In [12]:
# save the model
import joblib
import os

# specify path of the model
model_path = '../models/penguins_model.pkl'
try:
    joblib.dump(model, model_path)
    print("model saved!")
except Exception as e:
    print(f"failed to save model {str(e)}")

model saved!

In [13]:
# load model 
loaded_model = joblib.load(model_path)
print(loaded_model)

RandomForestClassifier()

In [24]:
random_input = list(df.loc[200].values)
new_input = random_input[:-1]
new_input

[44.9, 13.3, 21.3, 51.0]

In [27]:
# inference with new input
penguin_classes = ['first_category', 'sec_category', 'third_category']

result = model.predict([new_input])
print(f"the result is: {result[0]}, belonging to the class: {penguin_classes[result[0]]}")

the result is: 1, belonging to the class: sec_category